@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app {
  text-align: center;
}

.app h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.app p {
  color: var(--ev-c-text-2);
}
